*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: pink;
    font-family: 'Roboto', sans-serif;

}

.calculadora{
    position: relative;
    display: grid;

}

.calculadora .valor{
    grid-column: span 4;
    height: 80px;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
}

.calculadora span{
    display: grid;
    width: 60px;
    height: 60px;
    color: white;
    background: rgb(255, 170, 184);
    place-items: center;
    border: 1px solid rgb(255, 150, 168);
    cursor: pointer;
    transition: 0.2s;
}

.calculadora span:hover{
    background-color: rgb(255, 138, 157);
}

.calculadora span:active{
    background: rgb(255, 139, 158);
}


.calculadora span.clear{
    background: rgb(255, 102, 128);
    grid-column: span 2;
    width: 120px;  
    font-weight: bold;  
}

.calculadora span.equal{
    background: rgb(255, 102, 128);
}

.calculadora span.plus{
    grid-row: span 2;
    height: 120px;    
}